<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>flask</title>
</head>
<body>
<div id=app>

    <h1>This is index.html</h1>

</div>

</body>
<script>console.log("" +
  "/***\n" +
  " *      ┌─┐       ┌─┐\n" +
  " *   ┌──┘ ┴───────┘ ┴──┐\n" +
  " *   │                 │\n" +
  " *   │       ───       │\n" +
  " *   │  ─┬┘       └┬─  │\n" +
  " *   │                 │\n" +
  " *   │       ─┴─       │\n" +
  " *   │                 │\n" +
  " *   └───┐         ┌───┘\n" +
  " *       │         │\n" +
  " *       │         │\n" +
  " *       │         │\n" +
  " *       │         └──────────────┐\n" +
  " *       │                        │\n" +
  " *       │                        ├─┐\n" +
  " *       │                        ┌─┘\n" +
  " *       │                        │\n" +
  " *       └─┐  ┐  ┌───────┬──┐  ┌──┘\n" +
  " *         │ ─┤ ─┤       │ ─┤ ─┤\n" +
  " *         └──┴──┘       └──┴──┘\n" +
  " *                神兽保佑\n" +
  " *               代码无BUG!\n" +
  " */\n")</script>
</html>
